@tailwind base;
@tailwind components;
@tailwind utilities;


main{
    width: 100%;
    padding: 20px;
  }

/* Supprime le hover pour tous les boutons */
.ant-btn:hover {
  background-color: violet !important; /* ou la couleur que tu veux */
  opacity: 0.5;
  color: rgb(0, 0, 0) !important; /* supprime le changement de couleur */
  border-color: rgb(255, 171, 255) !important; /* supprime le changement de bordure */
  box-shadow: none !important; /* supprime l'ombre si présente */
}
