@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    border-right: 3px solid red;
}

main{
    width: 100%;
    padding: 20px;
  }

/* style menu */
.custom-drawer .ant-drawer-body {
  background-color: theme('colors.maintybe');/* exemple si maintybe = noir foncé */
  color: white;
}

.custom-drawer .ant-drawer-header {
  background-color: theme('colors.maintybe');/* exemple si maintybe = noir foncé */
  color: white;
}

#home{
    background-color: rgb(23, 22, 22);
}

#projects{
    background-color: rgb(25, 25, 25);
}

#about{
    background-color: rgb(23, 22, 22);
}

#contact{
    background-color: rgb(25, 25, 25);
}